body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

span {
    width: 64px;
    height: auto;
}

.nothing {
    backgrond-color: grey;
}

.O {
    background-color: blue;
    content: "o"
}

.X {
    background: red;
    content: "o"
}
